@import "_normalize";

body {
  font-family: 'Source Sans Pro', 'Segoe-UI', sans-serif;
}

.App {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  transition: background-image 0.6s linear;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
      "time"
      "app";
  justify-items: center;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100vh;
    // background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(rgba(44, 62, 80,0.3), rgba(44, 62, 80,0.4))
  }
}

.changeBackground {
  position: absolute;
  top: 5px;
  left: 5px;
  outline: none;
  i {
    opacity: 0.5;
    transition: all 1s ease-in-out;
    &.roll {
      transform: rotate(360deg);            
    }
    &:hover {
      opacity: 1;
    }
  }
}