@import "_normalize";

body {
  background-image: url(" ../assets/wallpapers/background-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 90%;
  grid-template-areas: 
      "header"
      "app";
  justify-items: center;
  max-height: 100vh;
}

.changeBackground {
  position: absolute;
  top: 5px;
  left: 5px;
}