@import "_normalize";

body {
  background-image: url(" ../assets/wallpapers/background-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  min-height: 100vh;
}