@import "_normalize";

body {
  background: #45484d;
  background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
  background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
  background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#45484d",
      endColorstr="#000000",
      GradientType=0
    );
}

.time {
  text-transform: uppercase;
  font-size: 8vw;
  letter-spacing: 14px;
  font-weight: bold;
  text-shadow: 0 2px 6px rgba(57, 57, 57, 0.26);
  max-width: 680px;
  margin: 100px auto 50px;
}

.appButtons {
  width: 43vw;
  margin: 0 auto;

  ul {
    list-style-type: none;
    overflow: hidden;

    li {
      float: left;
      font-size: 3vw;
      text-align: center;
      width: (100% / 4);
      height: 90px;
      margin-bottom: 30px;
      i {
        padding: 5px;
        text-shadow: 0 2px 6px rgba(57, 57, 57, 0.26);
      }
      p {
        font-size: 15px;
        letter-spacing: 2px;
        margin: 0;
        padding: 0;
      }

      #BookmarkApp:hover,
      #BookmarkApp.active,
      #TodoApp:hover,
      #TodoApp.active,
      #Pomodoro:hover,
      #Pomodoro.active,
      #Shelf:hover,
      #Shelf.active {
        color: #4285f4;
      }
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  width: 400px;
  height: 100vh;
  background-color: #f1f1f1;
}
