.appArea {
    display: grid;
    grid-area: app;
    justify-items: center;
    // align-items: center;
    grid-template-rows: 2fr 0.5fr;
    grid-template-areas: 
        "appWindow"
        "appButtons";
    position: relative;
}