.appButtons {
    grid-area: appButtons;
    ul {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
        li {
            list-style-type: none;
            padding: 10px;
            border: 1px solid #fff;
            a {
                display: grid;
                justify-items: center;
                align-items: center;
                color: #fff;
            }
        }
    }
}