.appContainer {
    grid-area: appWindow;
    justify-content: center;
    width: 450px;
    min-height: 450px;
    max-height: 450px;
    position: absolute;
    background-color: cornflowerblue;
    border-radius: 8px;
    overflow: auto;
    opacity: 0;
    margin-top: -50px;
    transition: all 0.3s;
}

.appContainer.active {
    margin-top: 0;
    opacity: 1;
}