.bookmark {
    display: grid;
    // grid-template-rows: auto auto auto 1fr;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    font-size: 1rem;
    .title {
        justify-self: stretch;
        margin: 0;
        text-align: center;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
}