.dayInfo {
    display: grid;
    grid-area: appWindow;
    justify-items: center;
    align-content: center;
    opacity: 1;
    margin-bottom: 0;
    transition: all 0.3s;
    &.poof {
        opacity: 0;
        margin-bottom: 50px;
    }
    .daySummary {
        text-align: center;
        line-height: 30px;
        h1 {
            font-size: 3em;
            font-family: "Oxygen";
        }
        p {
            letter-spacing: 1px;
        }
    }
    form {
        input {
            font-family: "Source Sans Pro";
            text-align: center;
            color: #fff;
            outline: none;
            border: 2px solid #a7a7a7;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 8px;
            border-radius: 5px;
            transition: all 0.3s;
            &::placeholder {
                color: #a7a7a7;
            }
            &:active, &:focus {
                transform: scale(1.1);
                border-color: #fff;
                &::placeholder {
                    color: #fff;
                }
            }
        }
    }
}