.shelfSwitcher {
    margin: 10px auto;
    text-align: center;
    .switches {
        display: inline-block;
        // background-color: #d3e1ff;
        border: 1px solid #fff;
        border-radius: 3px;
        a {
            display: inline-block;
            padding: 5px 15px;
            font-size: 16px;
            text-decoration: none;
            color: #000;
        }
        a.active {
            background-color: #fff;
            // border-radius: 20px;
            color: #000;
        }
    }
}