$size: 180px;
@mixin circle($size) {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - #{$size/2});
    top: calc(50% - #{$size/2});
    width: $size;
    height: $size;
  }

.pomodoro {
    display: grid;
    grid-template-rows: auto minmax(100px, auto) 40% 1fr;
    justify-items: center;
    align-items: center;
    font-size: 1rem;
    .title {
        justify-self: stretch;
        margin: 0;
        text-align: center;
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .taskPicker {
        margin: 10px 0 15px;
        align-items: start;
        p {
            text-align: center;
            margin-bottom: 5px;
        }
        select {
            font-size: 14px;
            background-color: rgba(0, 0, 0, 0);
            padding: 5px;
            outline: none;
            border: 1px solid #fff;
            border-radius: 3px;
        }
    }
    .timeBox {
        width: $size;
        height: $size;
        margin: 0 0 15px;
        border-radius: 50%;
        background-color: #E5E5E5;
        position: relative;
        .outer {
            @include circle($size);
            clip: rect(0, $size, $size, #{$size/2});
            .inner {
                @include circle($size);
                clip: rect(0, #{$size/2}, $size, 0);
                background: #81CE97;
                transform: rotate(0deg);
                transition: transform 0.3s;
            }
        }
        &.flip {
            background-color: #81CE97;
            .outer {
                clip: rect(0, #{$size/2}, $size, 0);
                .inner {
                    clip: rect(0, $size, $size, #{$size/2});
                    background: #E5E5E5;
                }
            }
        }
        .innerTimeBox {
            @include circle(#{$size/1.15});
            display: grid;
            justify-content: center;
            align-content: center;
            font-size: 22px;
            font-weight: 700;
            background-color:cornflowerblue;
            box-shadow: inset 0px 0px 8px 2px #565456;
        }
    }
    .timeButtons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        justify-self: stretch;
        justify-items: center;
        grid-gap: 20px;
        margin: 0 50px;
        button {
            color: #000;
            outline: none;
        } 
        .startButton, .stopButton {           
            padding: 10px 40px;
            border-radius: 25px;
            margin: 5px 10px;
            border: none;
            transition: all 0.3s;
            &:hover {
                background-color: darken($color: #357AE8, $amount: 10%);
                // box-shadow: 2px 5px 10px 2px #a4a6ab;
            }
        }
        .startButton {
            width: 70%;
            background-color: #357AE8;
        }
        .stopButton {
            background-color: #f13f3f;
            &:hover {
                background-color: darken($color: #f13f3f, $amount: 10%);
            }
        }
        .stopButton.hidden {
            opacity: 0;
            display: none;
        }
        &.running {
            .startButton, .stopButton {
                width: 100%;
            }
        }
    }
}