.askName {
    display: grid;
    grid-template-rows: 25%;
    justify-items: center;
    align-items: start;
    z-index: 1;
    form {
        display: grid;
        justify-items: center;
        input {
            font-family: "Source Sans Pro";
            font-size: 2em;
            color: #fff;
            outline: none;
            border: 2px solid #a7a7a7;
            border-radius: 5px;
            padding: 15px;
            margin: 30px 0;
            background-color: #000000;
            transition: all 0.3s;
            &:active, &:focus {
                border-color: #fff;
            }
        }
        button {
            background-color: #000;
            padding: 25px;
            border-radius: 50%;
            display: grid;
            align-content: center;
            justify-content: center;
            outline: none;
            transition: all 0.3s;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}