.todo-box {
    display: grid;
    grid-template-columns: 1fr;
    // padding: 20px;
    grid-template-rows: 5% 8% 1fr;
    grid-template-areas: 
        "title"
        "inputBox"
        "todoItems";
    justify-items: center;
    align-items: center;
    font-size: 1rem;
    .title {
        grid-area: title;
        justify-self: stretch;
        text-align: center;
        font-weight: bold;
        padding: 10px 0;
        margin: 0 0 20px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    form {
        input, button {
            border: none;
            padding: 10px;
            font-family: "Source Sans Pro";            
            outline: none;
            border: 1px solid #fff;
        }
        input {
            border-radius: 5px 0 0 5px;
        }
        button {
            border-radius: 0 5px 5px 0;
            background-color: #508EF5;
            color: #fff;
        }
    }
    ul {
        justify-self: stretch;
        padding-left: 20px;
        .itemContainer {
            li {
                list-style-type: none;
                color: #fff;
                margin: 10px 0;
                padding-right: 10px;
                position: relative;
                &:hover {
                    span.expandTask {
                        opacity: 1;
                    }
                }
                span.status {
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;
                    color: #a7a7a7;
                }
                span.done {
                    color: #fff;
                }
                span.expandTask {
                    position: absolute;
                    margin-left: 5px;
                    vertical-align: middle;
                    opacity: 0;
                    color: rgb(245, 225, 226);
                    transition: all 0.3s;
                    i {
                        transition: all 0.3s;
                        background-color: #fff;
                        border-radius: 50%;
                        color: #000;
                        font-size: 22px;
                    }
                    i.selected {
                        transform: rotate(180deg);
                    }
                }
                span.status, span.expandTask {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .taskDetails {
                display: none;
                margin-bottom: 20px;
                textarea {
                    width: 80%;
                    padding: 5px;
                    height: 50px;
                    background-color: rgba($color: #000000, $alpha: 0);
                    outline: none;
                    border: 1px solid rgba(204, 204, 204, 0.3);
                    border-radius: 3px;
                    font-size: 14px !important;
                    color: #fff;
                    &:hover, &:active, &:focus {
                        border: 1px solid white;
                    }
                    &::placeholder {
                        color: #ccc;
                    }
                }
                p {
                    font-size: 14px;
                    margin: 0;
                    color: #eee;
                }
                p.remove {
                    display: inline-block;
                    border: 1px solid #fa7878;
                    border-radius: 3px;
                    padding: 5px 8px;
                    margin: 10px 0;
                    cursor: pointer;
                    transition: all 0.3s;
                    i {
                        vertical-align: middle;
                    }
                    &:hover {
                        background-color: #ff6a6a;
                    }
                }
            }
            .taskDetails.expanded {
                display: block;
            }
        }
    }
}