.todo-box {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#FBCA88,#EF69AD);
    // text-align: center;
    font-size: 1.5em;
    form {
        width: 90%;
        margin: 20px auto;
    }
    input, button {
        border: none;
        padding: 10px;
        font-family: "Product Sans";
        font-size: 1.2rem;
        outline: none;
        border: 0.5px solid #fff;
    }
    input {
        border-radius: 5px 0 0 5px;
    }
    button {
        border-radius: 0 5px 5px 0;
        background-color: #508EF5;
        color: #fff;
    }
    ul {
        .itemContainer {
            li {
                list-style-type: none;
                color: #fff;
                margin: 15px 0;
                font-size: 0.7em;
                &:hover {
                    span.remove, span.expandTask {
                        visibility: visible;
                    }
                }
                span.status {
                    display: inline-block;
                    margin-right: 10px;
                    vertical-align: middle;
                    color: #ccc;
                }
                span.done {
                    color: #fff;
                }
                span.remove, span.expandTask {
                    display: inline-block;
                    margin-left: 15px;
                    vertical-align: middle;
                    visibility: hidden;
                    color: rgb(245, 225, 226);
                }
                span.status, span.remove, span.expandTask {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .taskDetails {
                textarea {
                    width: 200px;
                    height: 50px;
                    background-color: rgba($color: #000000, $alpha: 0);
                    outline: none;
                    border: none;
                    font-size: 16px;
                    color: #fff;
                    display: none;
                    &:hover {
                        border: 1px solid white;
                    }
                }
                textarea.expanded {
                    display: block;
                }
            }
        }
    }
}